<div class="span10 offset1">
  <h1>
    {{site.title}}
  </h1>
  <h2>{{site.subtitle}}</h2>

  <div style="margin-right:3%">
    <a href="https://www.facebook.com/groups/705720476146268/?fref=ts" target="_blank" style="float:right;">
      <img src= "{{root_url}}/images/facebook.png" style="width:50px;">
    </a>

    <a href="https://twitter.com/Thoughtworks_es" target="_blank" style="float:right;">
      <img src= "{{root_url}}/images/twitter.png" style="width:50px;">
    </a>
  </div>
</div>
